.carrossel-titulo{
    text-align: center;
    text-transform: uppercase;
    color: var(--cor_titulo_hamburguer);
    font-size: 0.9rem;
    padding: 1em 0 1em 0;
    background-color: var(--cor_secundaria);
}

.swiper-slide img{
    width: 100%;
}

.swiper-wrapper{
    gap: 10%;
}

.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

#preco_descricao{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 280px;
    text-align: center;
}

.preco_titulo{
    margin-top: 1em;
    font-size: 1em;
    font-weight: 500;
    color: #fc6621;
}

.autor{
    font-size: 1em;
    color: rgba(95, 95, 95, 0.751);
    font-weight: 500;
}

.preco{
    font-size: 1.5em;
    font-weight: bold;
    color: var(#002f52);
}

.imagem_card{
    width: 50%;
    height: 100%;
}

@media screen and (min-width: 1024px){

    .carrossel{
        padding: 0;
    }

    .swiper{
       margin-top: 25px;
       background: var(--cinza);
       padding: 1em 6em 1em 6em;
    }

    .swiper-pagination{
        margin: 2em 0 3em 0;
    }

    .swiper-slide img{
        width: 60%;
    }

    .carrossel-titulo{
        padding-top: 50px;
        font-size: 26px;
    }

    .swiper-wrapper{
        gap: 0;
    }

    #preco_descricao{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 280px;
        text-align: center;
    }
    
    .preco_titulo{
        margin-top: 1em;
        font-size: 1.1em;
        font-weight: 500;
        color: #fc6621;
    }
    
    .autor{
        font-size: 1.1em;
        color: rgba(95, 95, 95, 0.751);
        font-weight: 500;
    }
    
    .preco{
        font-size: 1.5em;
        font-weight: bold;
        color: var(#002f52);
    }
}

@media screen and (min-width: 1728px){
        .carrossel_container{
            display: flex;
            justify-content: space-between;
            margin: 0 10vw 3em 10vw;
            align-items: center;
        }
   
        .swiper{
            width: 60%;
        }

        .swiper-pagination{
            margin: 0 0 2em 0;
        }

        .card{
            margin-left: 10em;
            width: 50%;
        }

        .descricao_titulo{
            font-size: 32px;
            margin-bottom: 0.2em;
        }

        .descricao_titulo_produto{
            font-size: 18px;
        }

        .swiper-slide img{
            width: 100%;
        }


        .swiper-wrapper{
            gap: 5%;
        }
    
        #preco_descricao{
            width: auto;
            height: 280px;
        }
        
        .preco_titulo{
            margin-top: 1em;
            font-size: 1.1em;
            font-weight: 500;
            color: #fc6621;
        }
        
        .autor{
            font-size: 1.1em;
            color: rgba(95, 95, 95, 0.751);
            font-weight: 500;
        }
        
        .preco{
            font-size: 1.5em;
            font-weight: bold;
            color: var(#002f52);
        }

}