.contato{
    background: var(--cor_secundaria);
    padding: 1em;
}
.contato_titulo{
    font-size: 18px;
    font-weight: 500;
    color: var(--azul);
}

.contato_descricao{
    font-size: 16px;
    font-weight: 300;
    color: var(--azul);
    margin: 1em 0;
}

.contato_input{
    border: 1px solid var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: 90%;
    color: var(--azul);
}

.contato_input::placeholder{
    color: var(--azul);
    font-family: var(--fonte_principal);
    padding-left: 2em;
    background: url(../imagens/Vector.png) no-repeat;
}

footer{
    border-top: 1px solid black;
    padding: 1em;
    background: var(--cor_secundaria);
    font-weight: 400;
}

.lista_rodape, .rodape_direitos{
    display: none;
}

@media screen and (min-width: 1024px){
    .contato{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contato_titulo{
        font-size: 24px;
    }

    .contato_descricao{
        margin-right: 1em;
        font-size: 16px;
        width: 60%;
    }

    .contato_input{
        width: 30%;
    }

    .rodape{
        display: flex;
        justify-content: space-around;
        margin: 1em 0;
    }

    .rodape-titulo{
        font-weight: 400;
        font-size: 1.2em;
    }

    .lista_rodape-titulo{
        font-size: 14px;
        color: var(--azul);
        list-style-type: none;
        text-transform: uppercase;
    }

    .lista_rodape{
        list-style-type: none;
        display: block;
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }

    .lista_rodape-link{
        text-decoration: none;
        color: var(--cinza_escuro);
        font-size: 14px;
    }

    .rodape_direitos{
        display: block;
    }

    .rodape_direitos p{
        text-align: center;
        font-size: 14px;
        color: var(--cinza_escuro);
        margin: 1em 0;
    }

}

@media screen and (min-width: 1728px){
    .contato_input{
        width: 20%;
    }
}