.container_menu_hamburger{
    background-image: url(../imagens/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor_secundaria);
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}

.container_titulo{
    display: none;
}

.lista{
    display: none;
}

.opcoes{
    display: none;
}

.container_imagem{
    padding: 1em
}
.lista_menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container_botao:checked ~ .lista_menu{
    display: block;
}
#menu{
    display: none;
}
.lista_menu_titulo, .lista_menu_item{
    background-color: var(--cor_secundaria);
    padding: 1em;
}
.lista_menu_titulo{
    color: var(--cor_titulo_hamburguer);
    font-weight: 700;
}
.lista_menu_link{
    text-decoration: none;
    background: var(--cor_topico_hamburguer);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.baner_titulo{
    margin-bottom: 10px;
}

.baner_texto{
    margin-bottom: 10px;
}

.baner_pesquisa{
    background: transparent;
    border: solid 1px var(--cor_secundaria);
    color: var(--cor_secundaria);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.baner_pesquisa::placeholder{
    font-family: var(--fonte_principal);
    color: var(--cor_secundaria);
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    background: url(../imagens/lupa.png) no-repeat;
    background-position: 1em;
}

.container_texto{
    display: none;
}

@media screen and (min-width: 1024px){
    .container_titulo{
        font-family: var(--fonte_secundaria);
        font-size: 30px;
        font-weight: 300;
        display: block;
    }
    .container_menu_hamburger{
        display: none;
    }

    .favorito_transparente{
        display: none;
    }

    .opcoes{
        display: flex;
    }

    .opcoes_item{
        list-style-type: none;
    }

    .opcoes_link{
        text-decoration: none;
        color:black;
        text-transform: uppercase;
        padding:  0 1em;
    }
   
    .opcoes-botao:checked ~ .lista_menu{
        display: block;
    }

    .lista_menu_item{
        list-style-type: none;
    }

    .lista_menu{
        width: auto;
        margin-top: -20px;
    }

    .opcoes-botao{
        display: none;
    }

}

@media screen and (min-width: 1728px){
    .container{
        margin: 0 2em;
    }
    
    .container_link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        font-weight: 400;
    }

    .container_texto{
        display: block;
    }

    .opcoes{
        margin-right: auto;
    }


}