.container_menu_hamburger{
    background-image: url(../imagens/Menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 24px;
    height: 24px;
}
.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor_secundaria);
    position: relative;
}
.container{
    display: flex;
    align-items: center;
}
.container_imagem{
    padding: 1em
}
.lista_menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container_botao:checked ~ .lista_menu{
    display: block;
}
#menu{
    display: none;
}
.lista_menu_titulo, .lista_menu_item{
    background-color: var(--cor_secundaria);
    padding: 1em;
}
.lista_menu_titulo{
    color: var(--cor_titulo_hamburguer);
    font-weight: 700;
}
.lista_menu_link{
    text-decoration: none;
    background: var(--cor_topico_hamburguer);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
}

.baner_titulo{
    margin-bottom: 10px;
}

.baner_texto{
    margin-bottom: 10px;
}

.baner_pesquisa{
    background: transparent;
    border: solid 1px var(--cor_secundaria);
    color: var(--cor_secundaria);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.baner_pesquisa::placeholder{
    font-family: var(--fonte_principal);
    color: var(--cor_secundaria);
    font-size: 1em;
    text-align: center;
    font-weight: 400;
    background: url(../imagens/lupa.png) no-repeat;
    background-position: 1em;
}