@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../imagens/pattern01.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    font-family: "Smooch Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container_dados02{
    display: flex;
    flex-direction: column;
    border: none;
}

.mensagem-erro{
    margin-top: 1em;
    font-size: 1.5rem;
    font-weight: 500;
}

.container_dados_cadastrais{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 1em;
}

.container{
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
    margin: 1em 0 1em 0;
}

.titulo_conteudo{
    font-weight: bold;
    line-height: normal;
    font-size: 4rem;
}

.paragrafo_conteudo{
    font-size: 1.2rem;
    text-align: center;
}

.container_botao{
    display: flex;
    flex-direction: column;
}

.container_imagem img{
    width: 90%;
}

.name, .email, .senha, .cpf, .data, ::placeholder{
    background: #F2F2F2;
    padding: 1rem;
    font-size: 12px;
}

.name, .email, .senha, .cpf, .data{
    border-radius: 24px;
    border: solid 1px black
}

.botao_continuar{
    color: white;
    background-color:#1C1C1C ;
    padding: 1rem;
    border-radius: 24px;
    font-size: 12px;
}

.login{
    text-align: center;
    padding: 1em;
}

.container_botao{
    gap: 1rem;
}

.container_botao button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 1em 0;
    border-radius: 20px;
    border: solid 1px black;
    background-color: white;
}

button:hover{
    cursor: pointer;
}

.botao_continuar{
    cursor: pointer;
}

@media screen and (min-width: 1024px){

    .titulo_conteudo{
        font-size: 6rem;
    }

    .paragrafo_conteudo{
        font-size: 2rem;
    }

    .container_imagem img{
        width: 80%;
    }

    .name, .email, .senha, .cpf, .data, ::placeholder{
        background: #F2F2F2;
        padding: 1.5rem;
        font-size: 14px;
    }

    .name, .email, .senha, .cpf, .data{
        border-radius: 24px;
        border: solid 2px black;
    }

    .botao_continuar{
        color: white;
        background-color:#1C1C1C ;
        padding: 1.5rem;
        border-radius: 24px;
        font-size: 14px;
    }

    .login{
        font-size: 1.5rem;
    }

    .container_botao button{
        padding: 1em 0;
        font-size: 1.1em;
        font-weight: 500;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1728px){
    .container{
        flex-direction: row;
        justify-content: space-evenly;
    }

    .container_imagem img{
        width: 120%;
    }
}