.card{
    background-color: var(--cor_secundaria);
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.253);
}

.card_descricao{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
    text-align: start;
}

.descricao_titulo{
    color: var(--cor_titulo_hamburguer);
    font-weight: 700;
}

.descricao_titulo_produto{
    color: var(--azul);
    font-size: 1.3rem;
    font-weight: 700;
}

.descricao p{
    color: black;
}

.card_botoes{
    display: flex;
    justify-content: space-between;
}
.botoes{
    display: flex;
    margin: 0.5em 0.5em;
}

.botoes_item{
    list-style-type: none;
}

.botao_ancora{
    text-decoration: none;
    color: white;
    background-color: var(--cor_titulo_hamburguer);
    padding: 1em 2.2em;
    font-weight: 700;
    margin-top: 0.5em;
    border-radius: 10px;
}

.topicos{
    background: var(--cor_topico_hamburguer);
    text-align: center;
    padding: 1em 0;
}

.topicos_titulo{
    font-weight: 300;
    font-size: 16px;
    color: white;
    margin-bottom: 1em;
    text-transform: uppercase;
}

.topicos_lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos_item{
    list-style-type: none;
    background-color: var(--cor_titulo_hamburguer);
    padding: 0.7em;
    margin: 1em;
    border-radius: 10px;
}

.topicos_link{
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 0.5em;
    font-size: 14px;
}

@media screen and (min-width: 1024px){
    .card{
        width: 40%;
        margin: 2em auto;
        
    }
    .descricao{
        margin: 0 2em 0 0
    }

    .descricao_titulo{
        margin-bottom: 0.9em;
    }

    .botoes{
        margin: 0 0 0 -0.5em;
    }

    .topicos_titulo{
        font-size:24px;
        font-weight: 300;
    }

    .topicos_link{
        font-size: 20px;
    }

    .topicos_lista{
        padding: 0 10em 0 10em;
    }

    .topicos_item{
        padding: 0.7em;
    }
}

@media screen and (min-width: 1728px){
    .topicos_titulo{
        margin: 1.5em 0 0 0 ;
        font-size: 32px;
        font-weight: 100;
    }
    .topicos_lista{
        padding: 2em;
    }
}